.wrapper {
    min-height: 100vh;
    /* color: chocolate; */


}

.search-form {

    background: #000;
    padding: 2rem;
    border-radius: 10px;

}

.list {
    background: #000;
    padding: 2rem;
    border-radius: 10px;
}