@import "./mixins";

:root {
    --color-dark: #2a2a2a;
    --color-yellow: #ffca2f;
    --body-bg: #fff;
    --text-color: #000;
    --link-color: #0e76a8;
    --border-color: #2a2a2a;

    //Dark Mode

    --dark-bg: #2a2a2a;
    --dark-text-color: #fff;
    --dark-link-color: #ffca2f;
    --dark-border-color: #fff;
}

// DEFAULT GLOBAL STYLE 

$font-stack: 'Montserrat', sans-serif;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    gap: 1rem;
}

.grid {
    display: grid;
    gap: 1rem;

}

.wrapper {
    background: var(--body-bg);
    min-height: 100vh;
    color: var(--text-color);
}

// section {
//     margin-top: 5rem;
//     margin-bottom: 5rem;
//     max-width: 1440px;
// }

// Dark mode

.dark-mode-checkbox:checked+.wrapper {

    --body-bg: var(--dark-bg);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
    --border-color: var(--dark-border-color);

}

#darkMode {
    display: none;
    position: fixed;
    top: 6rem;
    left: 1rem;

}

.dark-mode-toggle {
    position: fixed;
    top: 6rem;
    left: 2rem;
    cursor: pointer;


    &:hover {
        transform: scale(1.5);
        transition: all .5s;
    }
}

// header 
.primary-header {

    background-color: var(--body-bg);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.282);
    position: sticky;
    top: 0;

    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--text-color);
    z-index: 99;

    .logo {
        justify-content: center;
        align-items: center;
        gap: 3rem;
        position: relative;

        div {
            &:nth-child(1) {
                h1 {

                    font-size: 1.8rem;
                    padding-right: 1rem;
                    margin-left: 0;
                }
            }

            &:nth-child(2) {
                h1 {
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }

        .line {
            &::before {

                content: "";
                background-color: var(--color-yellow);
                height: 70%;
                width: 4px;
                position: absolute;
                left: 63%;
            }
        }


    }

    .right {

        #check,
        .menu-icon {
            display: none;
        }
    }
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2.5rem;

    & li {
        a {
            &:hover {
                color: var(--color-yellow);
                transition: all .5s;
            }
        }
    }
}




//section1 =======hero========

.section1 {
    background: var(--color-yellow);
    margin: 10rem auto 3rem auto;
    width: 90dvw;
    grid-template-areas: "left right";
    height: 29rem;
    // padding-top: 7rem;

    .left {
        grid-area: left;
        margin-top: -4rem;
        justify-content: center;
        align-items: center;

        img {
            margin-left: 40%;
            height: 33rem;
            // width: 100%;
        }
    }

    .right {
        grid-area: right;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.8rem;

        div {
            flex-direction: column;
            gap: 0.6rem;

            .name {
                font-size: 4rem;
                font-weight: bold;
                color: var(--body-bg);
            }

            .tag {
                color: var(--body-bg);
                font-size: 2.2rem;
            }
        }

        button {

            border: none;
            padding: 0.8rem 1.2rem;
            border-radius: 2rem;
            cursor: pointer;
            background: var(--color-dark);
            margin: 1rem 0;

            a {
                color: var(--body-bg);

                i {
                    color: var(--color-yellow);

                }
            }
        }
    }

}

//section2 banner

.section2 {
    margin-bottom: 8rem;

    .info-container {
        max-width: 80%;
        margin: auto;
        padding: 2rem;
        min-height: 7rem;
        border: 2px solid var(--border-color);
        border-radius: 100px;

        justify-content: center;
        align-items: center;


        .info-lists {
            width: 100%;
            color: var(--text-color);
            justify-content: space-around;
            align-items: center;

            .info-content {
                .icon-container {
                    width: 3rem;
                    height: 3rem;
                    background: var(--color-yellow);

                    justify-content: center;
                    align-items: center;
                    color: var(--body-bg);

                    i {
                        font-size: 1.4rem;
                    }
                }

                span {
                    h5 {
                        font-weight: bolder;
                        letter-spacing: 2px;
                    }

                    p {
                        color: var(--color-yellow);
                    }

                }
            }

            .info-divider {
                width: 2px;
                height: 40px;
                background: grey;
            }
        }

    }
}

//section3============skills

.section3 {

    width: 80%;
    margin: auto;
    padding: 10rem auto;

    .skills-container {
        justify-content: center;
        align-items: center;
        gap: 8rem;
        flex-wrap: wrap;

        div {
            flex-direction: column;
            align-items: center;
            font-weight: bolder;

            i {
                font-size: 3rem;
            }
        }


    }
}

.section4 {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;

    // margin: auto;
    // .title {}
    .projects-container {
        width: 100%;
        padding: 3rem 2rem 0 2rem;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2.5rem;

        .project-card {
            flex-direction: column;
            box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            // overflow: hidden;

            .top {

                img {
                    width: 100%;
                    height: 250px;
                    border-radius: 8px 8px 0 0;
                }
            }

            .bottom {
                // margin-top: 1.2rem;
                padding: 2rem;

                p:nth-child(1) {
                    font-weight: bolder;

                }
            }
        }
    }
}

.section5 {
    margin: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7rem;

    width: 80%;

    .about-container {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem;

        .left {
            width: 50%;
            padding: 0 2rem;

            img {
                width: 28rem;
                height: 28rem;

            }
        }

        .right {
            width: 50%;
            flex-direction: column;
            gap: 2rem;
            padding: 0 2rem;

            h2 {
                font-size: 3.5rem;
            }

            p {
                &:nth-child(3) {
                    font-weight: 600;
                }
            }

            div {
                flex-direction: column;

                .tag {
                    font-weight: 600;

                }

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;

                    span {
                        padding: 0.5rem 0.7rem;

                        &:hover {

                            background: rgba(128, 128, 128, 0.709);
                            border-radius: 1rem;
                            cursor: pointer;
                            color: white;
                            box-shadow: 0 0 8px grey;
                            transition: .5s ease-out;


                        }

                    }
                }
            }
        }
    }

}

.section6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding-top: 7rem;

    .socials {
        padding: 6rem;
        width: 80%;
        justify-content: space-between;

        i {
            font-size: 3rem;

            &:nth-child(1) {
                color: blue;
            }

            &:nth-child(2) {
                color: #6e5494;
            }

            &:nth-child(3) {
                color: rgba(64, 188, 255, 0.78);
            }

            &:nth-child(4) {
                color: red;
            }
        }
    }

    .email-section {
        // width: 60%; 
        background: var(--border-color);
        padding: 1rem 2rem;
        border-radius: 100px;
        color: var(--body-bg);

        .email {

            justify-content: center;
            align-items: center;

            .send {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background: var(--color-yellow);

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

footer {
    background: black;
    color: white;
    text-align: center;

    .footer-container {
        margin-left: 8rem;
        margin-bottom: 4rem;
        justify-content: flex-start;
        gap: 8rem;

        .links,
        .socials {

            margin-top: 2rem;
            flex-direction: column;

            h3 {
                text-transform: uppercase;

            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;

                & li {
                    a {
                        &:hover {
                            color: var(--color-yellow);
                            transition: all .5s;
                        }
                    }
                }
            }
        }

    }


}

// media query for tablet design for header 
@include tablet() {

    .wrapper {
        background: var(--body-bg);
        min-height: 100vh;
        color: var(--text-color);
        width: 100%;
        // margin: 0 auto;
    }

    .primary-header .right {


        .menu-icon {
            display: block;
            color: var(--text-color);
            cursor: pointer;
        }

        .navigation {
            flex-direction: column;
            width: 15rem;
            height: 100vh;
            background: var(--body-bg);
            color: var(--text-color);

            position: fixed;
            left: 100%;
            top: 4.7rem;

            transition: 0.5s ease-in;

            li {
                padding-left: 1rem;
            }


        }

        #check:checked~ul {
            left: calc(100% - 15rem);

        }
    }


    //section1 =======hero========

    .section1 {
        position: relative;
        // padding-top: 7rem;



        .right {
            position: absolute;
            top: 4rem;
            left: -17rem;

        }
    }


    .section2 {


        .info-container {


            .info-lists {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;

                .info-divider {
                    width: 3px;
                    height: 50px;
                    background: grey;
                }
            }

        }
    }



    .section5 {
        margin: 4rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 7rem;

        width: 80%;

        .about-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 3rem;
            justify-content: center;
            align-items: center;

            .left {
                width: 40rem;
                height: 20rem;
                // padding: 0 2rem;
                background-image: url('./assets/Subject.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                object-fit: cover;


            }

            .right {
                width: 100%;
                flex-direction: column;
                // gap: 2rem;
                padding: 0 2rem;

                h2 {
                    font-size: 2.5rem;
                }

                p {
                    &:nth-child(3) {
                        font-weight: 600;
                    }
                }

                div {
                    flex-direction: column;

                    .tag {
                        font-weight: 600;

                    }

                    div {
                        gap: 1rem;

                        span {

                            font-size: 0.8rem;

                        }
                    }
                }
            }
        }

    }


    .section6 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem;
        padding-top: 7rem;

        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6rem;
            width: 80%;
            justify-content: space-between;

            i {
                font-size: 3rem;

                &:nth-child(1) {
                    color: blue;
                }

                &:nth-child(2) {
                    color: #6e5494;
                }

                &:nth-child(3) {
                    color: rgba(64, 188, 255, 0.78);
                }

                &:nth-child(4) {
                    color: red;
                }
            }
        }

        .email-section {
            // width: 60%; 
            background: var(--border-color);
            padding: 1rem 2rem;
            border-radius: 100px;
            color: var(--body-bg);

            .email {

                justify-content: center;
                align-items: center;

                .send {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background: var(--color-yellow);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }


}