*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* global message  */

.glb-msg {
  background-color: hsla(0, 93%, 47%, 0.4);
}
.glb-msg > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  color: white;
  font-size: 1.5rem;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.icon {
  display: flex;
  /* justify-content: space-between;
        align-items: center;
         */
}
i {
  margin-left: 2rem;

}

a:active,
a:visited,
a:link {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  text-decoration: none;
  color: hsla(298, 100%, 49%, 0.9);
}

/* navbar section */

.header__nav {
  background-color: blue;
  position: relative;
}
.header__nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
  font-size: 2rem;
}
.ul__header{
  display: flex;
}
.ul__header > li {
  text-decoration: none;
  list-style: none;
  margin-left: 2rem;
  margin-right: 0;
}

.navigation{
        display: none;
}

/* hero section  */
.hero {
  height: 63rem;
  background: url("./img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position:relative; */
}
/* 
.hero > div {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

} */

.hero__content {
  padding: 8rem 5rem;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 2rem;
  color: rgba(224, 217, 7, 0.807);
  text-align: center;
  font-size: 2rem;
}

/* latests Posts  */
/* layouts */
/* .latest__post{
        width: 90%;
        margin: 0 auto;
} */
.post__container{

        display: flex;
        justify-content: space-around;


}
/* box-shadow: h-shadow v-shadow blur spread color; */
.post {
        width: 70%;
        padding: 2rem;
  
}

.post__box {
  display: flex;
  box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.793);
  padding: 0.9rem;
  margin-bottom: 3rem;      
 
}
.post__box--content {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post__box--content-heading {
  margin-top: 0;
  font-size: 1.8rem;
}
.post__box--content > div,
.post__box--content > p {
  font-size: 1.4rem;
}
.post__box--content-icondate {
  margin-left: -2rem;
  margin-top: -2.2rem;
}
.post__box--content-btn{
        display: flex;
        align-self: flex-end;
        background-color: red;
        border: none;
        padding: 1.2rem;
}
.post__box--content-btn:hover{
        background-color: rgba(207, 51, 51, 0.545);
        color: red;
}


/* aside css */
aside {
        width: 30%;
        padding-top: 2rem;
        height: 100%;
 
 
}
aside > div {
        
        
        display: flex;
        flex-direction: column;
        padding: 2rem;
        font-size: 1.2rem;
        
        
        
}
.country{
        background-color: yellowgreen;
        margin-bottom: 4rem;
        align-self: stretch;
        }
.year{
        background-color: yellow;
        align-self: stretch;
} 

/* recommendation starts */
.section__recom{
        /* height: 55vh; */
        /* padding: 2rem; */
        background-color: greenyellow;
}
.recom__box{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        /* height: 35rem; */
        
}

.recom__box > div {
      
        /* display: flex;
        flex-direction: column; */
        background-color: white;
        width: 29rem;
        margin-bottom: 2rem;
        flex-grow: 1;
        
     
      
}
[class^="recom__box---"]{
       
        border-radius: 1rem 1rem 1rem 1rem;
        box-shadow: -.5px 5px 10px 5px rgba(0,0,0, 0.3772);
        overflow: hidden;
      
}

[class^="recom__box---"]:not(:last-child){
        margin-right: 1rem;
} 
.recom__box-img{
        /* height: 55%; */
        background-size: cover;
        background-repeat: no-repeat;
        /* padding: 1rem; */
       
}
.recom__box-img img{
        width: 100%;
}
.recom__box-content{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        padding: 1rem;
        padding-bottom: 1rem;
        text-align: left;
       
}
.recom__box-content > h3 {
        font-size: 1.9rem;
}
.recom__box-content > p {
        font-size: 1.3rem;
        /* margin-top: -0.8rem; */
}
.recom__box--btn{
        min-width: 100%;
        background-color: red;
        border: none;
        padding: 1rem 0;
        box-shadow: -5px 2px 5px 5px rgba(165, 158, 158, 0.493);
        border-radius: 5px;
}
.recom__box--btn:hover{
        background-color: rgba(255, 0, 0, 0.382);
        color: red;
}

/* Styling Subscribe  */
.sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem;
}
.sub > h1{
        font-size: 2rem;

}
.sub__input-style{
        padding: .5rem;
}
.sub__input-btn{
        padding: .5rem;
        width: 19rem;
        background-color: red;
        border: 2px solid red;
}

/* styling footer  */

.section__footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6rem;
        background-color: black;
        color: white;
        font-size: 1.3rem;
}

/* media query  */
/* 
larger screen: 1200px
medium : 768px to 1200px
small screen: < 768px  */

/* pads  */


@media screen and  (max-width:1100px) {
        .glb-msg{
                background-color: blueviolet;
        }
      
      /* navigation starts  */

      .ul__header{
        display: none;
      }
      
    
     .navigation {
       display:flex;
       margin-bottom: 2rem;

       }
  
       .navigation__checkbox{
        display: none;
       }
       .navigation__button{
        height: 8rem;
        width: 8rem;
        background-color: #240dd796;
        border-radius: 50%;
        box-shadow: 0 2rem 3rem rgb(15, 4, 96) ;
       }
       .navigation__icon, .navigation__icon::before, .navigation__icon::after{
        display: flex;
        height: .3rem;
        width: 5rem;
        background-color: #fff;
        transition: all .2s;
       }

       .navigation__icon{
        position:relative;
        left: 1.5rem;
        top: 3.8rem;
        
       }
       .navigation__icon::before{
        content: "";
        position: absolute;
        top: -1.2rem;
        left: 0;

       }
       .navigation__icon::after{
        content: "";
        position: absolute;
        top: 1.2rem;
        left: 0;
       }
     
       /* when navigation checkbox is hover it's sibling child position changes  */

       .navigation__checkbox:hover ~ .navigation__button .navigation__icon::before{
        display: flex;
        position: absolute;
        top: -1.6rem;
        left: 0;
       }
       .navigation__checkbox:hover ~ .navigation__button .navigation__icon::after{
        position: absolute;
        top: 1.6rem;
        left: 0;
       }


       /* when navigation is check icon before and after pseudo is rotated  */

       .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
       background-color: transparent;
       }

       .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before{
        position: absolute;
        top: 0;
        left: 0; 
        rotate: 225deg;
       }
       .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after{
        
        position: absolute;
        top: 0;
        left: 0;
        rotate: -225deg;
       }

       .navigation__background{
        display: block;
        height: 6rem;
        width: 6rem;
        background-color: royalblue;
        border-radius: 50%;
        
        position: relative;
        top: 1rem;
        left: 7rem;
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        opacity: 0;
       }

       .navigation__checkbox:checked ~ .navigation__background{
        opacity: 1;
        visibility: visible;
        transform: scale(90);
       }

       .navigation__nav{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        
       }
       .navigation__checkbox:checked ~ .navigation__nav {
        opacity: 1;
        visibility: visible;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
       }

       .navigation__list > .navigation__item {
        list-style: none;
        font-size: 10rem;
        text-align: center;
        width: 100%;
        margin-bottom: 4rem;
       }

       /* hamburger menu styles ends here  */
       
 }

 
 @media(max-width:1025px) {
        
        /* starting latest post for ipad views  */

       
.post__container{

        display: flex;
        flex-direction: column;

}
/* box-shadow: h-shadow v-shadow blur spread color; */
.post {
        width: 100%;
  
}

aside{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 2rem;
 
}
.country,.year{
        width: 50%;
        margin-bottom: 0;
}

 }

 /* styling for mobile view  */

 @media(max-width:722px){
        

.post__box {
        display: flex;
        flex-direction: column;
        box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.793);
        padding: 0.9rem;
        margin-bottom: 3rem;      
       
      }

      .post__box--img > img{
        width: 100%;
      }
      .post__box--content {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .post__box--content-heading {
        margin-top: 0;
        font-size: 1.8rem;
      }
      .post__box--content > div,
      .post__box--content > p {
        font-size: 1.4rem;
      }
      .post__box--content-icondate {
        margin-left: -2rem;
        margin-top: -1.2rem;
      }
      .post__box--content-btn{
              display: flex;
              align-self: flex-end;
              background-color: red;
              border: none;
              padding: 1.2rem;
      }
      .post__box--content-btn:hover{
              background-color: rgba(207, 51, 51, 0.545);
              color: red;
}

aside{
        display: flex;
        flex-direction: column;

}
.country,.year{
width: 100%;

}

/* latest posts ended  */


/* Styling Subscribe  */
.sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem;
}
.sub .sub__input{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
}
.sub > h1{
        font-size: 2rem;

}
.sub__input-style{
        padding: .5rem;
}
.sub__input-btn{
        padding: .5rem;
        width: 19rem;
        background-color: red;
        border: 2px solid red;
}


 }

 @media(max-width: 655px){
        .hero{
                height: 65vh;
        }

        .hero__content{
                height: 100%;
                width: 100%;
                border-radius: 0;
        }

 }