*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
        
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* global message  */

.glb-msg{
        background-color:hsla(0, 93%, 47%,0.4);
}
.glb-msg > div{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: white;
}
.container{
        width: 80%;
        margin: 0 auto;
       
 }

.icon{
        
        display: flex;
        /* justify-content: space-between;
        align-items: center;
         */

} 
i{
        margin-left: 2rem;
}



a:active,
a:visited,
a:link{
        text-decoration: none;
        color: whitesmoke;
}
a:hover{
        text-decoration: none;
        color: hsla(298, 100%, 49%, 0.9);
}


/* navbar section */

.header__nav{
        background-color: blue;
}
.header__nav > div{
       
        display:flex;
        justify-content: space-between;
        color: white;
        padding: 1rem;
        font-size: 2rem;
}
ul {
        display: flex;
       
}
ul > li{
        text-decoration: none;
        list-style: none;
        margin-left: 2rem;
        margin-right: 0;
}


/* hero section  */
.hero{
        height: 63rem;
        background: url('./img/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position:relative; */
}
/* 
.hero > div {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

} */

.hero__content{
     
        padding: 8rem 5rem;
        background-color: rgba(0, 0, 0, 0.24);
        border-radius: 2rem;
        color: rgba(224, 217, 7, 0.807);
        text-align: center;
        font-size: 2rem;
}